In [63]:
import pandas as pd

In [64]:
df = pd.read_excel(r'C:\Users\thoma\OneDrive\Área de Trabalho\Futebol\Dados Futebol DataScience.xlsx')

In [69]:
df

          Data    Goleador Assisntente  Minuto Placar    Tipo de Gol
0   2023-03-14      Thomas      Wagner       2    1x0  Gol Desempate
1   2023-03-14      Wagner      Thomas       7    2x0   Gol Vantagem
2   2023-03-14  Gol Contra           -       9    2x1   Gol Desconto
3   2023-03-14      Wagner      Pietro      10    3x1   Gol Vantagem
4   2023-03-14      Pietro      Thomas      17    4x1   Gol Vantagem
..         ...         ...         ...     ...    ...            ...
238 2023-04-29      Therri           -      52    7-9   Gol Vantagem
239 2023-04-29      Guerra           -      55   7-10   Gol Vantagem
240 2023-04-29          Zé      Guerra      59   7-11   Gol Vantagem
241 2023-04-29     Evandro          Zé      62   7-12   Gol Vantagem
242 2023-04-29      Marcos           -      62   8-12   Gol Desconto

[243 rows x 6 columns]

In [66]:
df = df.rename(columns={'Gol  Desempate': 'Gol Desempate'})

In [67]:
df.loc[df['Gol Empate'] == 1, "Tipo de Gol"] = "Gol Empate"
df.loc[df['Gol Desconto'] == 1, "Tipo de Gol"] = "Gol Desconto"
df.loc[df['Gol Vantagem'] == 1, "Tipo de Gol"] = "Gol Vantagem"
df.loc[df['Gol Desempate'] == 1, "Tipo de Gol"] = "Gol Desempate"

In [68]:
df.drop(['Gol Empate', "Gol Desempate", "Gol Vantagem", "Gol Desempate", "Gol Desconto"], axis=1, inplace=True)